services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    command: npm run dev

  frontend:
    build: ./frontend
    ports:
      - "8000:80"
      
    depends_on:
      - backend
