services:
  backend:
    build: ./backend
    ports:
<<<<<<< HEAD
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    command: npm run dev
=======
      - "8000:5000"
>>>>>>> 1924fc055a092c97e46ef00e448639ba3e689725

  frontend:
    build: ./frontend
    ports:
      - "8000:80"
      
    depends_on:
      - backend
